.venv
__pycache__
testenv
run.sh
*.pkl
test*
build
dist
docs/docs_build/build
.idea
src/rust_results/target
pyvenv.cfg
*.qm
Output
src/ui/resources*
site
.gemini/
gha-creds-*.json
sign_plugins.fish
.idea/*
