* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.55rem;
}

html,
body {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#cat-name {
    font-size: 3.2rem;
    font-weight: bold;
    margin-right: .3em;
}

#cat-controls {
    font-size: 2.2rem;
    font-weight: bold;
}

.temp_res {
    font-style: italic;
    font-weight: 550;
    color: rgb(169, 169, 169);
}

td {
    padding-right: 1em;
}

#progressHolder {
    background-color: grey;
    height: 20px;
}

#progress-bar {
    background-color: rgb(36, 143, 179);
    height: 20px;
    width: 0px;
}

#categories_par {
    width: 100%;
    text-align: center;
    position: fixed;
}

#attrib {
    font-size: 1.3rem;
}

#logo {
    position: fixed;
    right: .5em;
    top: .5em;
}

#logo img {
    height: 3.7rem;
}

.invalid {
    font-style: italic;
}

#ann {
    width: 100%;
    flex-grow: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

#ann_text {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}